<div class="row">
    <div class="col-3 mt-5">
        <ul class="nav nav-tabs nav-pills flex-column">
            <li class="nav-item mb-1">
                <a class="nav-link" ng-click="tabType='movie'" ng-class="{'active':tabType=='movie'}">Movies ({{moviesCount}})</a>
            </li>
            <li class="nav-item mb-1">
                <a class="nav-link" ng-click="tabType='series'" ng-class="{'active':tabType=='series'}">Series ({{seriesCount}})</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ng-click="tabType='game'" ng-class="{'active':tabType=='game'}">Games ({{gamesCount}})</a>
            </li>
        </ul>
        <button id="change" class="btn btn-primary mt-2" ng-click="changeView()">Change View</button>
    </div>
    <div class="col-9">
        <input id="search" class="p-1" placeholder="Search text" ng-model="searchText" />
        <button id="clear" class="btn btn-primary px-3 mx-1" ng-click="clear()">Clear</button>
        <button id="refresh" class="btn btn-primary px-3 mx-1" ng-click="refresh()">Refresh</button>
        <button id="sort" class="btn btn-primary px-3 mx-1" ng-click="sort()">Sort</button>
        <div class="row">
            <div class="resource-item" ng-class="grid?'col-12':'col-3'" ng-repeat="r in resources | typeFilter:tabType | titleFilter:searchText | orderBy:orderSorter:sortReverse" ng-controller="itemController">
                <div ng-if="r.imageAvailable" ng-click="redirectResource(r)" class="poster" style="background-image:url({{r.Poster}})"></div>
                <p ng-show="!showInput" ng-click="showInput=!showInput"><b>{{r.Title}}</b></p>
                <p ng-show="showInput"><input class="p-1" ng-blur="checkUpdate()" ng-model="titleInput" /></p>
                <p>Year: {{r.Year.slice(0,4)}}</p>
            </div>
        </div>
    </div>
</div>